*{
    margin: 0;
    padding: 0;
}

 #listafilmes{
     display: flex;
     justify-content: start;
     flex-wrap: wrap;
     padding: 2rem;
 }

 .card-img-topz{
    height: 15rem;
 }

.card{
    width: 20rem;
    margin-left: 3px;
}
 
